<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Epicodus Tunes</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="mr-auto navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="marketplace">Marketplace</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
